<app-header></app-header>

<section class="bg--grey pdflexi-t--small">

    <!-- <input type="date" [(ngModel)]="this.time" name="time" (change)="onHandleChange()" /> -->
    <div class="fixed" style="margin-left: 200px;width: 80%;">
        <div class="fixed">
            <h3 class="my-city__header">
                My Cities (Personal World Clock) ...
            </h3>
            <div class="my-city__items">
                <div class="my-city__item">
                    <a href="/weather/vietnam/ho-chi-minh" title="Ho Chi Minh">
                        <img class="my-city__wt-icon" src="https://c.tadst.com/gfx/w/100/wt-14.png">
                    </a>
                    <a href="/weather/vietnam/ho-chi-minh" class="my-city__title">
                        <img src="https://c.tadst.com/gfx/n/fl/32/vn.png" class="my-city__flag">
                        <span class="my-city__city">Ho Chi Minh</span></a>
                    <span class="my-city__wt"><i class="fa fa-home soft">&nbsp;
                        </i><span class="my-city__temp">27&nbsp;°C</span>
                        <span class="my-city__wtdesc">Passing clouds.</span></span>
                    <span class="my-city__time-wrap"><span class="my-city__digitalClock">
                            <span id="c218dat" class="my-city__date">Sat </span> <span id="c218">21:10</span><span
                                class="my-city__secondsDivider">:</span><span id="c218sec"
                                class="my-city__seconds">39</span><span id="c218ampm"
                                class="my-city__ampm"></span></span></span>
                </div>
                <div class="my-city__item">
                    <a href="/weather/vietnam/ho-chi-minh" title="Ho Chi Minh">
                        <img class="my-city__wt-icon" src="https://c.tadst.com/gfx/w/100/wt-14.png">
                    </a>
                    <a href="/weather/vietnam/ho-chi-minh" class="my-city__title">
                        <img src="https://c.tadst.com/gfx/n/fl/32/vn.png" class="my-city__flag">
                        <span class="my-city__city">Ho Chi Minh</span></a>
                    <span class="my-city__wt"><i class="fa fa-home soft">&nbsp;
                        </i><span class="my-city__temp">27&nbsp;°C</span>
                        <span class="my-city__wtdesc">Passing clouds.</span></span>
                    <span class="my-city__time-wrap"><span class="my-city__digitalClock">
                            <span id="c218dat" class="my-city__date">Sat </span> <span id="c218">21:10</span><span
                                class="my-city__secondsDivider">:</span><span id="c218sec"
                                class="my-city__seconds">39</span><span id="c218ampm"
                                class="my-city__ampm"></span></span></span>
                </div>
                <div class="my-city__item">
                    <a href="/weather/vietnam/ho-chi-minh" title="Ho Chi Minh">
                        <img class="my-city__wt-icon" src="https://c.tadst.com/gfx/w/100/wt-14.png">
                    </a>
                    <a href="/weather/vietnam/ho-chi-minh" class="my-city__title">
                        <img src="https://c.tadst.com/gfx/n/fl/32/vn.png" class="my-city__flag">
                        <span class="my-city__city">Ho Chi Minh</span></a>
                    <span class="my-city__wt"><i class="fa fa-home soft">&nbsp;
                        </i><span class="my-city__temp">27&nbsp;°C</span>
                        <span class="my-city__wtdesc">Passing clouds.</span></span>
                    <span class="my-city__time-wrap"><span class="my-city__digitalClock">
                            <span id="c218dat" class="my-city__date">Sat </span> <span id="c218">21:10</span><span
                                class="my-city__secondsDivider">:</span><span id="c218sec"
                                class="my-city__seconds">39</span><span id="c218ampm"
                                class="my-city__ampm"></span></span></span>
                </div>
                <div class="my-city__item">
                    <a href="/weather/vietnam/ho-chi-minh" title="Ho Chi Minh">
                        <img class="my-city__wt-icon" src="https://c.tadst.com/gfx/w/100/wt-14.png">
                    </a>
                    <a href="/weather/vietnam/ho-chi-minh" class="my-city__title">
                        <img src="https://c.tadst.com/gfx/n/fl/32/vn.png" class="my-city__flag">
                        <span class="my-city__city">Ho Chi Minh</span></a>
                    <span class="my-city__wt"><i class="fa fa-home soft">&nbsp;
                        </i><span class="my-city__temp">27&nbsp;°C</span>
                        <span class="my-city__wtdesc">Passing clouds.</span></span>
                    <span class="my-city__time-wrap"><span class="my-city__digitalClock">
                            <span id="c218dat" class="my-city__date">Sat </span> <span id="c218">21:10</span><span
                                class="my-city__secondsDivider">:</span><span id="c218sec"
                                class="my-city__seconds">39</span><span id="c218ampm"
                                class="my-city__ampm"></span></span></span>
                </div>
                <div class="my-city__item">
                    <a href="/weather/vietnam/ho-chi-minh" title="Ho Chi Minh">
                        <img class="my-city__wt-icon" src="https://c.tadst.com/gfx/w/100/wt-14.png">
                    </a>
                    <a href="/weather/vietnam/ho-chi-minh" class="my-city__title">
                        <img src="https://c.tadst.com/gfx/n/fl/32/vn.png" class="my-city__flag">
                        <span class="my-city__city">Ho Chi Minh</span></a>
                    <span class="my-city__wt"><i class="fa fa-home soft">&nbsp;
                        </i><span class="my-city__temp">27&nbsp;°C</span>
                        <span class="my-city__wtdesc">Passing clouds.</span></span>
                    <span class="my-city__time-wrap"><span class="my-city__digitalClock">
                            <span id="c218dat" class="my-city__date">Sat </span> <span id="c218">21:10</span><span
                                class="my-city__secondsDivider">:</span><span id="c218sec"
                                class="my-city__seconds">39</span><span id="c218ampm"
                                class="my-city__ampm"></span></span></span>
                </div>
            </div>
        </div>
        &nbsp;
        <section class="fixed">
            <div class="row" style="width: 100%;">
                <div class="tb-scroll" style="width: 100%;">
                    <table class="zebra fw tb-theme table table-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th colspan="8">
                                    <h3 class="tb-header">Local Time and Weather in Asia </h3>
                                    <div class="tb-show">
                                        <form id="wc-sort" name="wc-sort" class="inline" action="/scripts/gowc.php"
                                            aria-hidden="true" method="get"><label for="sort">Sort By: </label><select
                                                id="sort" name="sort" onchange="this.form.submit()">
                                                <option value="0" selected="">City</option>
                                                <option value="1">Country</option>
                                                <option value="2">Time</option>
                                                <option value="6">Temperature</option>
                                            </select><input type="hidden" name="url" value="/weather/"><input
                                                type="hidden" name="args" value="continent=asia"></form>
                                    </div>
                                    <div class="tb-show">
                                        <form id="wc-sort" name="wc-sort" class="inline" action="/scripts/gowc.php"
                                            aria-hidden="true" method="get"><label for="sort">Region: </label><select
                                                id="sort" name="sort" onchange="this.form.submit()">
                                                <option value="0" selected="">Asia</option>
                                                <option value="1">Europe</option>
                                                <option value="2">Time</option>
                                                <option value="6">Temperature</option>
                                            </select><input type="hidden" name="url" value="/weather/"><input
                                                type="hidden" name="args" value="continent=asia"></form>
                                    </div>
                                    <div class="tb-show mgr10">
                                        <form id="wc-shown" name="wc-shown" class="inline" action="/scripts/gowc.php"
                                            aria-hidden="true" method="get"><label for="pop">Time shown:
                                            </label><select id="pop" name="low" onchange="this.form.submit();">
                                                <option value="c">Today</option>
                                                <option value="4">Tomorrow</option>

                                            </select><input type="hidden" name="url" value="/weather/"><input
                                                type="hidden" name="args" value="continent=asia"></form>
                                    </div>
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let weather of weathers;index as i">
                                <ng-container *ngIf="(i+1)%2 !== 0">
                                    <tr>
                                        <td><a href="/weather/united-arab-emirates/abu-dhabi">{{weather.name}}</a><span
                                                id="p0s" class="wds"></span></td>
                                        <td id="p0" class="r">{{timeZone(weather.name,weather.region)}}</td>
                                        <td class="r"><img src="//c.tadst.com/gfx/w//40/wt-2.png"
                                                alt="Passing clouds. Mild." title="Passing clouds. Mild." width="40"
                                                height="40"></td>
                                        <td class="rbi">{{weather.tempure}}&nbsp;°C</td>
                                        <td><a href="/weather/kuwait/kuwait-city">{{weathers[i+1].name}}</a><span id="p100s"
                                                class="wds"></span></td>
                                        <td id="p100" class="r">{{timeZone(weathers[i+1].name,weathers[i+1].region)}}</td>
                                        <td class="r"><img src="//c.tadst.com/gfx/w//40/wt-13.png" alt="Clear. Cool."
                                                title="Clear. Cool." width="40" height="40"></td>
                                        <td class="rbi">{{weathers[i+1].tempure}}&nbsp;°C</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>


</section>